body{
    background-color: rgb(111, 140, 221) ;
    }
         h1{
    color: rgb(255, 255, 255) ;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background: rgb(111, 140, 221);
    }
    
    p{
    color: rgb(241, 102, 10);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 20 ;
    background: rgb(238, 234, 23);
    }