body{
    background-color: rgb(111, 140, 221) ;
    }
         h1{
    color: rgb(255, 255, 255) ;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 888;
    background: rgb(111, 140, 221);
    text-align: center;
    }
    
    p{
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 560;
    background: rgb(111, 140, 221);
    }
    #aa{width: 100%;}