body{
    background-color: white ;
    }
         h1{
    color: lightblue ;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background: white;
    }
    
    p{
    color: rgb(168, 206, 219);
    font-family: ;
    font-size: ;
    background: ;
    }